.btn__action {
  background-color: #bab7b6;
  color: #333;
  border: 1px solid #999;
  border-radius: 0.25rem;
  display: flex;
  min-height: 42px;
  padding: 0.25rem 0.5rem;
  align-items: center;
  font-size: 1.05rem;
  cursor: pointer;
}
