.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: #ef6537;
  min-height: 50px;
  align-items: center;
  padding: 0 1rem;
}
.header__cell {
  width: 50%;
}
.cell__end {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  color: #212121;
}

.logo__image {
  display: flex;
  border: 2px solid #fff;
}

.logo__text {
  display: flex;
  margin-left: 0.5rem;
}
