.footer {
  width: 100%;
  display: flex;
  background-color: #333;
  min-height: 200px;
}

.footer__menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.footer__list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 1rem;
  list-style: none;
  font-size: 1rem;
  li {
    padding: 1rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
